$color-gray900: #1E212C;
$color-gray800: #424551;
$color-gray700: #787A80;
$color-gray600: #9A9CA5;
$color-white: #ffffff;
$color-orange: #FF5A30;

// Брейкпоинты
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

// Шрифты
