@import "variables";

html {
    font-size: 10px;
    font-family: $font-ubuntu;
}

h1 {
    font-size: 4.6rem;
    text-align: center;
    color: $color-gray900;
    font-weight: 700;
}
h3 {
    font-size: 2.8rem;
}
h4 {
    font-size: 2.4rem;
}
h6 {
    font-size: 1.6rem;
}
section{
    padding: 120px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

header {
    position: fixed;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(3px); 
    
    &>.container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;            
    }

    .header__navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;

        .navbar__logo {
            margin-right: 60px;
        }
        .navbar__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            font-size: 1.6rem;
            font-weight: 700;

            .navbar__item.active {
                color: $color-orange;
            }
            
        }
    }
    .header__contacts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 3.6rem;
            font-weight: 400;
            font-size: 1.3rem;
            &>* {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

    }
}
.about {
    padding: 150px 0;
    background: url("/images/aboutusBackground.png");
    background-size: 100% 100%;
    
    .about__text{
        width: 50%;
    }
    .about__breadcrumbs{
        z-index: 9999;
        font-size: 1.4rem;
        margin-bottom: 40px;
    }
    .about__breadcrumbs--slashed{
        color: $color-gray600;
        
    }
    .about__header{
        font-size: 7.2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .about__info{
        color:$color-gray700;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.5;
    }
}
.stats {
    .stats__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .stats__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stats__icon {
        margin-bottom: 20px;
    }
    .stats__value {
        font-size: 4.6rem;
        color:$color-orange;
        line-height: 1.3;
        margin-bottom: 8px;
    }
    .stats__text {
        color: $color-gray900;
        font-size: 1.4rem;
    }
}
.quote {
    .quote__photo{
        position: relative;
    }
    .quote__grid{
        padding: 80px;
        display: grid;
        grid-template-areas: 
            "braces text text text text"
            "braces text text text text"
            "braces text text text text"
            "braces author author . sign";

        position: absolute;
        top: -10%;
        left: 40%;
        color: $color-gray900;
        background-color: $color-white;
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 700;

        box-shadow: 8px 26px 25px -30px $color-gray600;

        .quote__braces{
            padding-right: 30px;
            grid-area: braces;
        }
        .quote__text{
            grid-area: text;
            padding-bottom: 60px;
        }
        .quote__author {
            grid-area: author;
            
            .quote__name{
                font-size: 1.6rem;
                margin-bottom: 4px;
            }
            .quote__company{
                font-size: 1.4rem;
                color: $color-gray700;
                font-weight: 400;
            }
        }
        .quote__signature{
            grid-area: sign;
        }
    }
}
.values {
    background-color: $color-gray200;
    h1{
        margin-bottom: 24px;
    }
    .values__mission {
        color: $color-gray700;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        text-align: center;
        margin-bottom: 60px;
    }
    .values__cards {
        display: flex;
        justify-content: space-between;
        
    }
    .values__card {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .values__icon {
            margin-bottom: 24px;
        }
        .values__name {
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 2rem;
            line-height: 150%;
            text-align: center;
            vertical-align: middle;

        }
        .values__description {
            color:$color-gray700;
            font-weight: 400;
            font-size: 1.6rem;
            
            line-height: 160%;
            letter-spacing: 0%;
            text-align: center;
            
        }
    }
    
}
.history {
    padding-top: 0;
    background-color: $color-gray200;
    h1{
        margin-bottom: 60px;
        grid-area: header;
    } 
    .history__grid {
        display: grid;
        grid-template-areas: 
        "header . . . . arrows"
        "navbar . . . info info"
        "navbar . . . info info";
    }
    .history__arrows {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Центрирует элементы по горизонтали */
        align-items: center; /* Центрирует элементы по вертикали */
        flex-wrap: nowrap;
        grid-area: arrows;

        img {
            height: 18px;
            width: 18px;
        }

        .history__arrow--left {
            padding: 12px;
        }

        .history__arrow--right {
            padding: 12px;
            background-color: $color-orange;
            border-radius: 100%;
        }
    }

    .history__navbar {
        display: flex;
        flex-direction: column;
        grid-area: navbar;
        color: $color-gray600;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
            &>ul{
                list-style-type: disc;
                
                padding-left: 7%;
                li{
                    
                    position: relative;
                }
            }
    }
    
    .history__moment--active {
        color: $color-orange;
    }
    
    .moment__info {
        display: flex;
        flex-direction: column;
        grid-area: info;
        width: fit-content;
        align-items: end;

        img{width: 100%;}

        .moment__image {
            width: 80%;
            margin-bottom: 24px;
        }
        .moment__description{
            width: 80%;
            color: $color-gray800;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 160%;
        }
    }  
}
.partners {
    padding-bottom: 0;
    h1{
        margin-bottom: 24px;
    }
    .partners__description {
        color: $color-gray700;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        text-align: center;
        margin-bottom: 60px;
    }
    img{
        max-width: 100%;
    }    
    .partners__marquee{
        display: none;
        width: 300%;
        
    }
}
.team {
    h1{
        margin-bottom: 24px;
    }
    .team__description {
        color: $color-gray700;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
        text-align: center;
        margin-bottom: 60px;
    }
    .team__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 60px;
        margin-bottom: 60px;
    }
    .worker__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            max-width: 95%;
            margin-bottom: 1.6rem;
        }
    }
    .worker__name {
        color:$color-gray800;
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        margin-bottom: 4px;
    }
    .worker__post {
        color: $color-gray700;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
    }

    .team__offer {
        color: $color-gray900;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        text-align: center;
    }
    .team__available {
        color:$color-orange;
        text-decoration: underline;
    }
}
.worldwide {
    background-color: $color-gray200;
    img{width: 100%;}
    h1{
        position: relative;
        top:-6rem;
    }
}
.contacts {
    padding-top: 0;
    position: relative;
    
    img{width: 100%;}
    h3{
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 120%;
        text-align: center;
        margin-bottom: 1.8rem;
    }

    .contacts__form {
        position: absolute;
        left: 55%;
        top: 3%;
        max-width: 30%;
        max-height: 60%;
        padding: 4.8rem;
        background-color: $color-white;
        border: 1px solid $color-gray200;
        border-radius: 4px;
    }
    .contacts__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;
        font-weight: 400;
        font-size: 1.4rem;

    }
    .field__necessary {
        color: $color-orange;
    }
    label{
        margin-bottom: 0.6rem;
        font-weight: 400;
        color: $color-gray800;
    }
    input{
        padding: 1rem 1.6rem;
        color: $color-gray900;
        background-color: $color-gray200;
        outline: none;
        font-weight: 400;
        font-size: 1.4rem;
        border: $color-gray600 1px solid;
        border-radius: 4px;
    }
    .contacts__agreement{
        font-size: 1.6rem;
        color: $color-gray800;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
    button{
        color: $color-white;
        background-color: $color-orange;
        margin: 0 auto;
        border: 0;
        border-radius: 4px;
        padding: 0 32px;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 38px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.footer {
    padding: 80px 0;
    color: $color-gray600;
    background-color: $color-gray900;
    .container{
        display: flex;
        flex-direction: column;
    }
    .footer__grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "info info . mail mail"
        "office office whoweare experience .";
    }
    
    h4, h6{
        color: $color-white;
        text-align: left;
        margin-bottom: 24px;
    }
    h6{
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    .footer__info {
        max-height: 80%;
        padding-bottom: 10%;
        font-size: 1.4rem;
        line-height: 1.5;
        grid-area: info;
        display: grid;
        align-items: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "logo socials"
        "story story";
        
        .footer__logo{
            grid-area: logo;
        }
        .footer__socials{
            display: flex;
            justify-content: space-around;
            grid-area: socials;
        }
        .footer__story{
            grid-area: story;
        }
    }
    .footer__p{
        font-size: 1.6rem;
        line-height: 1.6;
    }
    .footer__span{
        color: $color-white;
    }
    .footer__office {
        grid-area: office;
    }
    .footer__whoweare {
        grid-area: whoweare;
    }
    .footer__experience {
        grid-area: experience;
    }
    .footer__email {
        grid-area: mail;
        input{
            width: 60%;
            padding: 1rem 1.6rem;
            background-color: $color-gray800;
            color: $color-gray600;
            font-weight: 400;
            font-size: 1.4rem;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid $color-gray600;
            outline: 0;
            margin-bottom: 16px;
            &:focus{
                color: inherit;
            }
            &:focus::placeholder{
                color: transparent;
            }
            &::selection{
                color:$color-white;
                background-color: $color-orange;
            }
        }
        span{position: relative;}
        button{
            position: absolute;
            font-weight: 700;
            left: 99%;
            background-color: $color-orange;
            color: $color-white;
            border: 0;
            border-radius: 0px 4px 4px 0px;
            line-height: 37.5px;
            padding: 0 2.4rem;
        }
        .email__explanation{
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
    .footer__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $color-white;
        font-size: 1.5rem;
        line-height: 1.5;
        i{
            color: $color-orange;
        }
        .footer__totop {
            font-size: 1.4rem;
            text-transform: capitalize;
        }
        .totop__button{
            outline: 0;
            border: 0;
            margin-left: 5px;
            padding: 8px;
            color: $color-white;
            background-color: $color-orange;
        }
    }
    
}

@import "responsive"